<body>
  <header class="navbar navbar-fixed-up-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span>Bookers</span>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Home' , home_path %>
          </li>
          <li>
            <%= link_to 'About' , about_path %>
          </li>
          <li>
            <%= link_to 'sign up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'login', new_user_session_path %>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="body">
    <div class="container">
      <h1>"Welcome to "
        <span class="glyphicon glyphicon-book"></span>
        <strong>Bookers</strong>
        "!"
      </h1>
    </div>
  </div>